In [1]:
import lib.ana_header as lib

data = lib.ExploreData()

data.sampleData()

        user id        session start          session end
0         60509  2021-01-01 07:00:00  2021-01-01 10:52:00
1         60509  2021-01-02 07:00:00  2021-01-02 08:18:00
2         60509  2021-01-02 08:18:17  2021-01-02 09:38:17
3         60509  2021-01-02 13:31:50  2021-01-02 14:59:50
4         60509  2021-01-03 07:00:00  2021-01-03 10:50:00
...         ...                  ...                  ...
233003    25366  2021-01-29 07:00:00  2021-01-29 08:02:00
233004    25366  2021-01-29 08:47:04  2021-01-29 09:44:04
233005    25366  2021-01-30 07:00:00  2021-01-30 09:04:00
233006    25366  2021-01-31 07:00:00  2021-01-31 07:54:00
233007    25366  2021-01-31 08:27:54  2021-01-31 09:20:54

[227163 rows x 3 columns]

In [2]:
data.groupData()

                    Session Duration (Minutes)
Date       user id
2021-01-01 20                             20.0
           32                             27.0
           72                             31.0
           79                            241.0
           99                            218.0
...                                        ...
2021-02-01 63526                          34.0
           66376                          15.5
           80348                          54.0
           87100                          50.0
           88662                          38.0

[93009 rows x 1 columns]

## Try Your Solution

- Give a value to banner
  - 1: More Exam
  - 2: Night Mode
  - 3: Leader Board

In [5]:
# Change the banner number
#########################################

banner = 2

#########################################

data.runSimulation(banner)

'Total revenue is: $17870'